{% extends "layout.html" %}

{% block body %}

<!--post: to not show in url
    get: will put the value url  -->

<form action="/greet" method="post" > 
    <input autocomplete="off" autofocus name = "name" placeholder="Name"  type = "text" >
    <input type="submit" >
</form>

{% endblock %}


<!-- 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
     goes to greet when you submit 
    <form action="/greet" method="get"> 
        never put client side safety check
        <input autocomplete="off" autofocus name = "name" placeholder="Name"  type = "text" >
        <input type="submit" >
    </form>
</body>
</html>

    
-->
